@import 'colors.css';

* {
    font-family: "JetBrainsMono Nerd Font Propo", "FiraCode Nerd Font Propo", sans-serif;
    font-size: 10px;
    font-weight: 600;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    margin: 5px 5px 0 5px;
    transition: 0.22s;
}

/* Workspaces */
#workspaces {
    padding: 0 2.7px;
    background: @bg;
}

#workspaces button {
    padding: 0 5px;
    margin: 4px 2px;
    border-radius: 15px;
    background: @workspace-button-bg;
    color: @workspace-button-fg;
    transition: 0.23s;
}

#workspaces button.active {
    background: @workspace-button-active-bg;
    color: @workspace-button-active-fg;
    padding: 0 20px;
}

#workspaces button:hover {
    background: @workspace-button-hover-bg;
    color: @workspace-button-hover-fg;
    padding: 0 17px;
}

#custom-wallpaper-changer,
#tray,
#backlight,
#clock,
#pulseaudio,
#network,
#battery,
#custom-arch,
#custom-cpu,
#custom-weather,
#custom-updates,
#custom-wlogout,
#custom-swaync {
  padding: 0 10px;
  background: @bg;    /* module box color */
  border-radius: 0;    /* rounded box */
}

/* left-right modules border radius */
#custom-arch { border-radius: 20px 0 0 20px; }
#custom-wlogout { border-radius: 0 20px 20px 0; }

/* modules colors */
#clock { color: @clock-fg; }
#custom-weather { color: @weather-text; }
#custom-wallpaper-changer { color: @wp-changer-fg; }
#custom-updates { color: @updates-fg; }
#backlight { color: @brightness-fg; }
#pulseaudio { color: @audio-fg; }
#network { color: @network-fg; }
#battery { color: @battery-fg; }
#custom-wlogout { color: @wlogout-fg; }
#custom-swaync { color: @swaync-fg; }
#custom-cpu { color: @cpu-fg; }

/* Modules states */
#pulseaudio.muted { color: @audio-muted-fg; }
#battery.warning { color: @battery-fg-warning; }
#battery.critical { color: @battery-fg-critical; }

tooltip {
  background: @tooltip-bg;
  border: 1px solid @tooltip-border;
  border-radius: 8px;
}

tooltip label {
  color: @tooltip-fg;
  font-size: 12px;
  padding: 5px;
}
