@import 'colors.css';

* {
    font-family: "FiraCode Nerd Font Propo", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 10px;
    font-weight: 600;
    border: none;
}

window#waybar {
    background: transparent;
    margin: 10px 12px 0 12px;
}

/* Workspaces */
#workspaces {
    padding: 0 2.5px;
    margin: 0 1px;
    background: @bg;
    border-radius: 18px;
}

#workspaces button {
    padding: 0 7px;
    margin: 4.5px 2px;
    border-radius: 15px;
    background: @workspace-button-bg;
    color: @workspace-button-fg;
    transition: 0.23s;
}

#workspaces button.active {
    background: @workspace-button-active-bg;
    color: @workspace-button-active-fg;
    padding: 0 22px;
}

#workspaces button:hover {
    background: @workspace-button-hover-bg;
    color: @workspace-button-hover-fg;
    padding: 0 20px;
}

#custom-distro-icon,
#clock,
#custom-cpu,
#custom-weather,
#custom-updates,
#custom-wallpaper-changer,
#tray,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-swaync,
#custom-wlogout {
    padding: 0 12px;
    margin: 3px 5px;        /* this creates the gap */
    background: @bg;    /* module box color */
    border-radius: 10px;    /* rounded box */
}

#custom-distro-icon { color: @distro-logo; }
#clock { color: @clock-fg; }
#custom-weather { color: @weather-text; }
#custom-cpu { color: @cpu-fg; }

#custom-updates { color: @updates-fg; }
#custom-wallpaper-changer { color: @wp-changer-fg;  }
#backlight { color: @brightness-fg; }
#pulseaudio { color: @audio-fg; }
#network { color: @network-fg; }
#battery { color: @battery-fg; }
#custom-swaync { color: @swaync-fg; }
#custom-wlogout { color: @wlogout-fg; }

/* Modules states */
#pulseaudio.muted { color: #e34d4d; }
#battery.warning { color: @battery-fg-warning; }
#battery.critical { color: @battery-fg-critical; }

tooltip {
    background: rgba(27, 27, 36, 1);
    border: 1px solid @tooltip-border;
    border-radius: 8px;
}

tooltip label {
    color: @tooltip-fg;
    font-size: 12px;
    padding: 5px;
}
